@use "../util" as *;
.nav {
  background-color: var(--element);
  color: var(--text);
  padding: rem(25) 0;
  position: sticky;
  top: 0;
  z-index: 999;
  @include border(0);
  @include container(v(80));
  @include flex;
  &__toggleContainer {
    cursor: pointer;
    border-radius: rem(100);
    padding: rem(10) rem(20);
    @include flex;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(121, 119, 119, 0.11);
    }
  }
  &__icon {
    align-self: start;
    font-size: 600;
    margin-right: rem(10);
    min-height: rem(14);
    height: v(14);
    min-width: rem(14);
    width: v(14);
  }
  &__strongText {
    cursor: pointer;
    font-size: rem(23);
    font-weight: 900;
  }
  &__lightText {
    font-size: rem(14); 
    font-weight: 300;
  }
  @include small-screen {
    @include container(v(30,750));
    &__strongText {
      font-size: rem(17);
      font-weight: 900;
    }
  }
}
