@use "../../util" as *;
.countries {
  @include flex(flex-start);
  flex-wrap: wrap;
  margin-top: v(50);

  @include small-screen {
    justify-content: center;
    gap: 75px;
    margin-top: v(40, 750);
  }
}

.card {
  @include element;
  @include size(336, 264px);

  cursor: pointer;
  margin-bottom: v(50);
  &__img,
  img {
    background-color: #c4c4c4;
    @include size(168px, 100%);
    object-fit: cover;
  }

  &__content {
    margin: 25px;
  }
  &__title {
    font-weight: 800;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 15px;
  }
  &__subtitle {
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__para {
    font-weight: 300;
    margin-left: 3px;
  }
  @include small-screen {
    @include size(80vw, 70vw);
    margin-bottom: 50px;
    &__img,
    img {
      height: 40vw;
    }
  }
}
