@use "../../util" as *;
.countries {
  @include flex(flex-start);
  flex-wrap: wrap;
  margin-top: v(50);
  @include small-screen {
    justify-content: center;
    margin-top: v(40, 750);
  }
}

.card {
  @include element;
  @include size(336, rem(264));
  cursor: pointer;
  margin-bottom: v(50);
  &__img,
  img {
    background-color: #c4c4c4;
    @include size(rem(168), 100%);
    object-fit: cover;
  }

  &__content {
    margin: rem(25);
  }
  &__title {
    font-weight: 800;
    font-size: rem(17);
    line-height: rem(23);
    margin-bottom: rem(15);
  }
  &__subtitle {
    font-weight: 600;
    margin-bottom: rem(5);
  }
  &__para {
    font-weight: 300;
    margin-left: rem(3);
  }
  @include small-screen {
    @include size(85vw, 70vw);
    margin-bottom: v(55, 750);
    &__img,
    img {
      height: 40vw;
    }
  }
}
