@use "../../util" as *;
.countries {
  @include flex(flex-start);
  background-color: var(--background);
  flex-wrap: wrap;
  height: 100vh;
  margin-top: v(50);

  @include small-screen {
    justify-content: center;
    gap: 75px;
    margin-top: v(40, 750);
  }
}

.card {
  @include element;
  @include size(336px, 264px);
  cursor: pointer;
  margin-bottom: v(75);
  &__img,
  img {
    @include size(168px, 100%);
    object-fit: cover;
  }

  &__content {
    margin: 25px;
  }
  &__title {
    font-weight: 800;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 15px;
  }
  &__subtitle {
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__para {
    font-weight: 300;
    margin-left: 3px;
  }
  @include small-screen {
    @include size(75vw, 70vw);
    &__img,
    img {
      height: 37.5vw;
      min-height: max-content;
    }
  }
}
