@use "../../util" as *;
$height: v(55);
$height-ss: v(55, 750);
.tools {
  @include flex(flex-start);
  @include font-home-para;
  margin-top: rem(55);
  height: $height;
  ::placeholder {
    color: var(--input);
  }
  @include small-screen {
    flex-direction: column;
    height: $height-ss;
    height: auto;
  }
}
.input {
  @include element;
  @include flex($justify: flex-end, $dir: row-reverse);
  @include size($height, 35vw);
  &__icon {
    @include size(rem(17), rem(17));
    color: var(--input);
    margin-left: 30px;
    margin-right: 25px;
    .input__field:hover + &,
    .input__field:focus + &,
    .input__field:active + & {
      color: var(--text);
    }
  }
  .input__field {
    @include size($height: 100%);
    background-color: transparent;
    color:var(--input);
    flex: 1;
    &:hover,
    &:focus,
    &:active {
      color: var(--text);
    }
  }
  @include small-screen {
    @include size(50px, 100%);
    margin-bottom: $height-ss;
  }
}
.filter {
  position: relative;
  @include small-screen {
    @include size(50px, v(396, 750));
  }
}
.selector {
  @include element;
  @include flex($justify: space-around);
  @include size(50px, 20vw);
  &__para {
    flex: 1;    
    margin-left: 25px;
  }
  &__icon {
    @include size(rem(14), rem(14));
    margin-right: 15px;
  }
  @include small-screen {
    @include size(50px, v(396, 750));
  }
}
.list {
  @include element;
  @include size(172px, 20vw);
  display: none;
  margin-top: 6px;
  padding: 15px 25px;
  .filter:hover &,
  .filter:focus &,
  .filter:active & {
    display: block;
  }
  &__para {
    cursor: pointer;
    width: 100%;
    & + li {
      margin-top: 10px;
    }
    &:hover,
    &:focus,
    &:active {
      font-weight: 600;
    }
  }
  @include small-screen {
    width:  v(396, 750);
  }
}
