@use "./util" as *;
// * light
$element: white;
$text: hsl(209, 23%, 22%);
.nav {
  background-color: var(--element);
  color: var(--text);
  padding: 25px 0;
  position: sticky;
  top: 0;
  @include border(0);
  @include container;
  @include flex-row;
  &__toggleContainer {
    border-radius: 100px;
    padding: 10px 20px;
    @include flex-row;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(121, 119, 119, 0.11);
    }
  }
  &__icon {
    align-self: start;
    font-size: 600;
    margin-right: 10px;
    min-height: 14px;
    height: v(14);
    min-width: 14px;
    width: v(14);
  }
  &__strongText {
    font-size: 23;
    font-weight: 900;
  }
  &__lightText {
    font-size: 14;
    font-weight: 300;
  }
}
