@use "./functions";
// * general mixins

// * grid
@mixin center-div {
  display: grid;
  place-items: center;
}

// * flex row
@mixin flex($align: center, $justify: space-between, $dir: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}
// * position
@mixin pos-ab-t-l($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}
@mixin pos-ab-t-r($top: 0, $right: 0) {
  position: absolute;
  top: $top;
  right: $right;
}
@mixin pos-ab-b-l($bottom: 0, $left: 0) {
  position: absolute;
  bottom: $bottom;
  left: $left;
}
@mixin pos-ab-b-r($top: 0, $right: 0) {
  position: absolute;
  top: $top;
  right: $right;
}
// * element size
@mixin size($height: 100%, $width: 100%) {
  height: $height;
  width: $width;
}
// * specific mixins
@mixin container($px:80px) {
  margin: 0 auto;
  padding-right: $px;
  padding-left: $px;
}
@mixin border($start: 5px) {
  border-end-end-radius: 5px;
  border-start-start-radius: $start;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.26);
}

@mixin font-home-para {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

@mixin element {
    background-color: var(--element);
  color: var(--text);
  @include border;
}