$widthPage: 100vw;
$fulHeight: 100%;
$navHeight: 83px;
$grey: #4b5862;
$dark-blue: #1f3c58;
$dark-pink: #ff4d5c;
$light-pink: #fe7c87;
$middle-bg: #3a3a59;
$footer-bg: #24242d;
$dirty-white: #f0eef2;
$gradient: linear-gradient(98.74deg, #ff8670 0.51%, #ff4559 93.91%);
